<div class="center jumbotron">
   <h1 id="homeheading"> Welcome to Exchanged</h1> <br/>
   <h3>Where educators connect</h3>
  <%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %> 
  <%= link_to 'Login', login_path, class: "btn btn-primary btn-lg btn-xlarge" %> 

</div>

