<div class="container">
  <footer class="footer">
    <small>
      Exchanged - Created by Michael McCarthy Copyright &copy; 2016
    </small>
  <nav>
    <ul>
      <li><%= link_to 'Terms of Use', about_path %></li>
    </ul>
  </nav>
    
  </footer>
  
  
</div>